{% extends "layouts/layouts.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <hr>
    <p>{{content}}</p>


    {% if messages %}
    {% for message in messages %}
       <div class="alert alert-success">
        {{message}}
       </div>
    {% endfor %}
{% endif %}

{% if user.email %}
       <br><hr><br>
       <h2>Bienvenido {{user.first_name}} {{user.last_name}}</h2>
       <p>{{user.email}}</p>
{% else %}
       <h2>Por favor inicia sesion ... ok</h2>
{% endif %}
<p>¡Hola y bienvenido! Nos alegra que estés aquí.
    BlueWave by Burciaga es más que un proyecto: es una plataforma diseñada para hacer tus ideas realidad. Con una interfaz intuitiva y herramientas potentes, buscamos llevar tus objetivos al siguiente nivel.
    
    Únete a nosotros en esta ola de innovación y descubre todo lo que puedes lograr. ¡Gracias por confiar en BlueWave! </p>
{% endblock content %}